name: "Assign author to PR"

on:
  pull_request:
    types: [opened, reopened]

jobs:
  assigne-author:
    if: github.event.pull_request.user.login != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Assign author to PR
        uses: technote-space/assign-author@v1
